<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electroswarm</title>

    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="helpers/context_menu.js"></script>
    <script src="helpers/external_links.js"></script>

	 <!-- build:js scripts/vendor.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- endbuild -->
    <script src="app.js"></script>

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- build:css assets/css/app.css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbuild -->

</head>
<body ng-app="app" ng-controller="MainCtrl as ctrl">

	<div layout="row">
  <div flex="20">
    <!--[flex="20"]-->
	 <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span id="title">
            {{ctrl.nodeTitle}}
        </span>
          <span ng-if="ctrl.nodes">
              <md-progress-circular md-diameter="25px" class="loadingNodes" md-mode="indeterminate"></md-progress-circular>
          </span>
      </div>
    </md-toolbar>

    <md-content>
      <h3 ng-if="!ctrl.nodes">No nodes found</h3>
      <md-list ng-if="ctrl.nodes">
		  <md-list-item class="md-2-line" ng-repeat="node in ctrl.nodes" ui-sref="node({nodeName: node.Description.Hostname})">
			<!--<md-switch class="md-secondary"></md-switch>-->
			<div class="md-list-item-text">
			  <h3>{{node.Description.Hostname}}</h3>
			  <p>{{node.Spec.Role}} ({{node.Spec.Availability}})</p>
			</div>
		  </md-list-item>
		</md-list>
    </md-content>
  </div>
  <div flex="80">
    <!--[flex="70"]-->
	<md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Node Swarm</span>
		  <md-button class="md-icon-button md-primary" aria-label="Add replica"  ng-click="ctrl.reload()">
			  <i class="material-icons md-36">refresh</i>
		  </md-button>
      </div>
    </md-toolbar>
	<md-content class="md-padding">
		<md-nav-bar md-selected-nav-item="ctrl.currentNavItem" nav-bar-aria-label="navigation links">
		  <md-nav-item md-nav-click="goto('services')" name="services">Services</md-nav-item>
          <md-nav-item md-nav-click="goto('node')" name="node" ng-if="$state.current.name == 'node'">Node:{{ctrl.nodeName}}</md-nav-item>
		  <md-nav-item md-nav-click="goto('page2')" name="page2">Management</md-nav-item>
		</md-nav-bar>
		<div class="ext-content">
			<!--
		  External content for `<span>{{currentNavItem}}</span>`
			-->

			<div ng-if="ctrl.currentNavItem == 'services'">
                <h3 ng-if="!ctrl.services">No services in the Swarm</h3>
		  <table class="dock-table" ng-if="ctrl.services">
			  <thead>
			  	<th>ID</th>
				<th>Name</th>
				<th>Replicas</th>
				<th>Image</th>
			  </thead>
		  <tr ng-repeat="service in ctrl.services">
			<td>
                <md-button class="md-icon-button md-primary" aria-label="Update Service"  ng-click="ctrl.updateService(service.name)">
                        <i class="material-icons md-36">update</i>
                </md-button>
				{{service.id}}
			</td>
			<td>
			  <a href="" ng-click="ctrl.openService(service.name)">{{service.name}}</a>
			</td>
			<td>
				<md-button class="md-icon-button md-primary" aria-label="Remove replica" ng-click="ctrl.setReplica(service.name,service.totalReplicas-1)">
					<!--<md-icon icon="exposure_plus_1"></md-icon>-->
					<i class="material-icons md-36">remove</i>
				</md-button>
			  {{service.replicas}}
				<md-button class="md-icon-button md-primary" aria-label="Add replica"  ng-click="ctrl.setReplica(service.name,service.totalReplicas+1)">
					<!--<md-icon icon="exposure_plus_1"></md-icon>-->
					<i class="material-icons md-36">add</i>
				</md-button>
			</td>
			<td>
			  {{service.image}}
			</td>
              <td>
                  <md-button class="md-icon-button md-primary" aria-label="Delete Service"  ng-click="ctrl.deleteService(service.name)">
                      <!--<md-icon icon="exposure_plus_1"></md-icon>-->
                      <i class="material-icons md-36">delete</i>
                  </md-button>
              </td>
		  </tr>
		  </table>

			<!--
			<div ng-repeat="service in ctrl.services">
				{{service | json}}
			</div>
			-->

			<md-subheader class="md-primary" ng-if="ctrl.opService">Service: {{ctrl.opService.Spec.Name}}</md-subheader>
			<pre class="dock-pre">{{ctrl.opService | json}}</pre>
				<div ng-if="ctrl.errors.openService" role="alert">
					There was an error opening the service
				</div>
			</div>

			<div ng-if="ctrl.currentNavItem == 'page2'">
				<form name="ctrl.configForm">
					<div layout-gt-xs="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Manager IP Address</label>
							<input name="managerIP" ng-model="ctrl.managerIP" required >
							<div ng-if="ctrl.configForm.managerIP.$dirty" class="hint">
								You have changes in your configuration. If you want to keept them, you have to click "Save".
							</div>

							<div ng-if="ctrl.errors.connection" role="alert" class="validation-messages">Could not connect to {{ctrl.managerIP}} or it is not a manager.</div>
						</md-input-container>

						<md-input-container>
							<md-button class="md-raised"  ng-click="ctrl.saveManagerIP()">Save</md-button>
							<div ng-if="ctrl.saving">
								<md-progress-circular md-mode="indeterminate"></md-progress-circular>
							</div>
						</md-input-container>
					</div>
				</form>
				<form ng-submit="ctrl.sendCommand(ctrl.sshCommand)">
					<div layout-gt-xs="row">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Run SSH command to manager</label>
							<input name="sshCommand" ng-model="ctrl.sshCommand" >
						</md-input-container>

						<md-input-container>
							<button class="md-raised md-button"  typeof="submit">Send</button>
							<div ng-if="ctrl.executing">
								<md-progress-circular md-mode="indeterminate"></md-progress-circular>
							</div>
						</md-input-container>
					</div>

					<md-whiteframe class="md-whiteframe-2dp" flex-sm="100" flex-gt-sm="80" flex-gt-md="70" layout>
						<pre ng-bind="ctrl.commandResult"></pre>
					</md-whiteframe>
				</form>

			</div>

            <div  ng-if="ctrl.currentNavItem == 'node'">
                <div ui-view></div>

            </div>

		</div>
	  </md-content>
  </div>
</div>

	<div style="visibility: hidden">
		<div class="md-dialog-container" id="myStaticDialog">
			<md-dialog aria-label="Mango (Fruit)">
				<form>
					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>Node: {{ctrl.openNode.Description.Hostname}}</h2>
							<span flex></span>
							<md-button class="md-icon-button" ng-click="ctrl.closeModal()">
								<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
							</md-button>
						</div>
					</md-toolbar>
					<md-dialog-content style="max-width:800px;max-height:810px; ">
						<pre class="dock-modal">{{ctrl.openNode | json}}</pre>
					</md-dialog-content>

					<md-dialog-actions layout="row">
						<md-button ng-click="ctrl.closeModal()" style="margin-right:20px;" >
							Close
						</md-button>
					</md-dialog-actions>
				</form>
			</md-dialog>
		</div>
	</div>

</body>
</html>
